.minicolors-sprite {
  background-image: url(../../images/jquery.minicolors.png);
}

/* Panel */
.minicolors-panel {
  position: relative;
  display: block;
}

.minicolors-theme-default.minicolors {
  display: block;
}
.mcolor-label{
	width: 60px;
	height: 25px;
	text-align: center;
	line-height: 2.1;
	border: 1px solid #f3f1ff;
}